[submodule "Веб-приложение для навигации/Веб-приложение для навигации/BMSTU-Navigator"]
	path = Веб-приложение для навигации/Веб-приложение для навигации/BMSTU-Navigator
	url = https://github.com/MaratKamalovPD/BMSTU-Navigator.git
[submodule "Веб-приложение для навигации/BMSTU-Navigator"]
	path = Веб-приложение для навигации/BMSTU-Navigator
	url = https://github.com/MaratKamalovPD/BMSTU-Navigator.git
[submodule "Веб-приложение для навигации/BMSTU-Navigator-Frontend"]
	path = Веб-приложение для навигации/BMSTU-Navigator-Frontend
	url = https://github.com/MaratKamalovPD/BMSTU-Navigator-Frontend.git
